@model Models.Registers.Supplier

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Deleting a Supplier";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Supplier data to be removed
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user">
                    </i>
                </span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#deleteConfirmationModal">Remove</a>
            @Html.ActionLink("Return to Supplier list", "Index", null, new { @class = "btn btn-info" })}
    </div>
</div>
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ELTEismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Confirmation of exclusion from Product
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove the product @Model.Name.ToUpper() from the registration.
                </p>
                <p>
                    <strong>
                        Are you sure you want to proceed?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", "Supplier", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                {
                    @Html.HiddenFor(m => m.SupplierId)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="$('#delete-form').submit();">
                    Yes, delete this product.
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    No, don't delete this product.
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Products/_BySupplier.cshtml", Model.Products.ToList())

@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" /> }
@section ScriptPage {
    <script src="~/Scripts/jquery.validate.min.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js">
    </script>
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () { $('.table').dataTable(); });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProducts').addClass("active");
        });
    </script>

}